/node_modules
/public/hot
/public/storage
/public/js/app.js
/public/css/pages/partials/partials.css
/public/css/app.css
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
docker-compose.yml
