.bg-gray {
  background-color: #D9D9D9;
}

.btn {
  border-radius: 0;
}

.btn-blue {
  background-color: #009BDD;
  color: white;
}
.btn-blue:hover {
  background-color: #017DB1;
  color: white;
}

.box .row .col-3 {
  border-right: 7px solid white;
}
